.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.board {
  display: grid;
  background: #111111;
  border: 5px solid #3A335D;
  border-radius: 0 0 10px 0;
}

.levelpanel {
  background: #111111;
  border: 5px solid #3A335D;
  transform: translateX(5px);
  margin-top: auto;
  border-radius: 10px 0 0 10px;
}

.levelpanel .content {
  margin-top: auto;
  margin-bottom: auto;
}

.upcomingpanel {
  background: #111111;
  border: 5px solid #3A335D;
  border-radius: 0 10px 10px 0;
  transform: translateX(-5px);
}

.upcomingblocks {
  display: grid;
  margin: 0 auto;
}

.score {
  background: linear-gradient(to bottom, #1e082c, #230e44);
  border: 5px solid #3A335D;
  border-radius: 20px 20px 0 0;
  transform: translateY(5px);
}

.score .content {
  display: inline-block;
  transform: translateY(5%);
}

.darkscreen {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.overlayscreen {
  position: fixed;
  z-index: 1;
}

.overlayscreen .bottomsection {
  animation: slideup 1s 1.5s ease-in-out both;
}

.startscreen {
  animation: hide 0s ease-in 2s forwards;
}

.titletext {
  margin: 10px;
  text-transform: lowercase;
  font-weight: normal;
  animation: slidedown 1s ease-in-out;
}

.pausedtext {
  margin: 10px;
  text-transform: lowercase;
  font-weight: normal;
}

.button {
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  font-weight: bold;
  font-size: 1em;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.button:hover {
  background: rgba(255, 255, 255, 0.25);
}

.regulartext {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes slidedown {
  from {
    transform: translateY(-100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideup {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes hide {
  to {
    visibility: hidden;
  }
}
